<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="https://thymeleaf.org">

<body>
	<a th:href="@{/login}">Acceder</a><br></br>
	<a th:href="@{/registro}">Registrarse</a><br></br>
	<table border="1">
		<thead>
			Nombre
			Apellido
		</thead>

		<tbody>
			<tr th:each="persona : ${ListadoPersonas}">
				<td><span th:text="${persona.getNombre()}"></span></td>
				<td><span th:text="${persona.getApellidos()}"></span></td>
				<td>
					<form th:action="@{/editar}" method="get">
						<input type="submit" value="Editar">
						<input hidden name="idPersona" th:value="${persona.getId()}">
					</form>
				</td>
				<td>
					<form th:action="@{/eliminar}" method="get">
						<input type="submit" value="Eliminar">
						<input hidden name="idPersona" th:value="${persona.getId()}">
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</body>

</html>